.main{
    width: 1090px;
    height: 700px;
}

.top-block{
    width: 1090px;
    height: 50px;
}

.top-left{
    width: 260px;
    height: 50px;
    float: left;
}

.sidebar-space{
    margin-top: 10px;
    margin-left: 18px;
    width: 23px;
    height: 22px;
   float: left;
}
.sidebar-space:hover{
    background: rgb(236, 235, 235);
    margin-top: 10px;
    margin-left: 18px;
    width: 23px;
    height: 22px;
    border-radius: 3px;
   float: left;
}

.ytlogo-space{
    cursor: pointer;
    margin-left: 12px;
    width: 125px;
    height: 50px;
    float: left;
}

.yt-logo{
    width: 125px;
    height: 50px;
    margin-top: -2px;
}

.ytlogo-inSpace{

}
.ytlogo-in{
    font-family: sans-serif;
    color: gray;
    font-size: 10px;
    margin-left: -10px;
}

.top-center{ 
    margin-left:auto;
    margin-right:auto;
    width: 35%;
    height: 50px;
   /* float: left;*/
}

.searchbar-space{
    float: left;
}

.searchbar{
    margin-top: 1px;
    height: 35px;
    width: 225px;
}

.searchbutton-space{
    border: 1px solid rgb(193, 192, 192);
    background: rgb(232, 232, 232);
    cursor: pointer;
    float: left;
    height: 39px;
    width: 65px;
    margin-left: -1px;
    margin-top: 1px;
}
.searchbutton-space:hover{
    background: rgb(223, 221, 221);
    cursor: pointer;
    float: left;
    height: 39px;
    width: 65px;
    margin-left: -1px;
    margin-top: 1px;
}

.searchbutton{
    cursor: pointer;
    border: 0px;
    background: 0;
    background: url("searchicon.svg");
    width: 17px;
    height: 17px;
    margin-left: 23px;
    margin-top: 11px;
}

.searchmic-space{
    background: rgb(247, 247, 247);
    border-radius: 50%;
    cursor: pointer;
    float: left;
    height: 42px;
    width: 42px;
    margin-left: 10px;
    margin-top: 1px;
}
.searchmic-space:hover{
    background: rgb(239, 239, 239);
    border-radius: 50%;
    cursor: pointer;
    float: left;
    height: 42px;
    width: 42px;
    margin-left: 10px;
    margin-top: 1px;
}

.searchmic{
    cursor: pointer;
    border: 0px;
    background: 0;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    margin-top: 10px;
}

.top-right{
    margin-top: -50px;
    float: right;
    width: 185px;
    height: 50px;  
}

.settings-extraspace{
    float: left;  
    margin-top: 4px;
    width: 43px;
    height: 37px;
}

.settings-space{
    height: 30px;
    width: 30px;
    margin-top: 17px;
    margin-left: 5px;
}
.settings-icon{
    width: 3.5px;
    height: 3.5px;
    background: black;
    margin: 3.5px;
    margin-left: 14px;
    border-radius: 50px;
}

.signin-space{
    margin-top: -43px;
    float: right;
    width: 140px;
    height: 45px;
}
.signin-outer{
    outline: solid rgb(71, 70, 74);
    outline-width: 1px;
    width:115px;
    height: 40px;
    margin-left: 8px;
}
.signin-outer:hover{
    background: rgb(239, 239, 239);
    outline: solid rgb(71, 70, 74);
    outline-width: 1px;
    width:115px;
    height: 40px;
    margin-left: 8px;
}

.signin-textspace{
    
}
.signin-text{
    font-size: 15px;
    float: right;
    margin-top: 12px;
    margin-right: 12px;
    font-family: sans-serif;
    color: rgb(65, 143, 221);
    font-weight: bold;
}

.signin-logospace{
    float: left;
}
.signin-logo{
    margin-top: 7px;
    margin-left: 15px;
    width: 22px;
    height: 22px;
}

.side-block{
    float: left;
    width: 70px;
    height: 500px;
}

.sidemenu-img{
    margin-top: 30px;
    width: 25px;
    height: 25px;
    padding-left: 22px;
}

.sidemenu-options{
}

.sidemenu-options:hover{
    background: rgb(232, 235, 232);
}

.sidemenu-label{
    display: inline-block;    /* for label width**/
    text-align: center;
    width: 70px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: lighter;
}

.hr1{
    height: 0px;
    margin-top: 0px;
}

.horiscroll-space{
    float: left;
    margin-top: 0px;
    width: 1019px;
    height: 50px;
}

.horiscroll-options{
    background: rgb(242, 243, 242);
    width: 60px;
    height: 30px;
    outline: solid rgb(164, 164, 165);
    outline-width: 0px;
    border-radius: 50px;
    margin: 10px;
    float: left;
}
.horiscroll-options:hover{
    background: rgb(229, 232, 229);
    width: 60px;
    height: 30px;
    outline: solid rgb(164, 164, 165);
    outline-width: 0px;
    border-radius: 50px;
    margin: 10px;
    float: left;
}

.horiscroll-links{
    width: 60px;
    display: inline-block;    /* for label width**/
    text-align: center;
    margin-top: 5px;
   /* float: left;*/
    font-family: sans-serif;
}

.main-space{
    margin-top: 65px;
    margin-left: 93px;
    width: 1000px;
    height: 1000px;
}

.video-container{
    margin-left: -16px;
    width: 335px;
    height: 320px;
}